<main>
    <form class="adjust">
        <mat-form-field appearance="fill" class="adjust">
            <mat-label>Select</mat-label>
            <mat-select [(ngModel)]="selectedValue" name="option" class="adjust" >
              <mat-option *ngFor="let option of options" [value]="option.value" class="adjust">
                {{option.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>

        <div class="adjust" *ngIf="selectedValue == 'ResumeOptimising'">
            
        </div>
        
        <div class="adjust" *ngIf="selectedValue == 'Skills Required'">
            Enter the Job Title: 
            
            <div class="button"> 
                <mat-form-field>
                    <mat-label>Job Title</mat-label>
                    <input matInput [(ngModel)]="variable" placeholder="Ex. Java Developer" name="variable">
                  </mat-form-field>
                <button mat-button name="enter" color="primary" (click)="getMessage(variable)">Enter</button>
            </div>
        </div>
    </form>
</main>

<!-- <div *ngFor="let dat of Jobs">
    {{dat['content']}}
</div> -->
<div *ngIf="JobsDone">
  <p style="margin-left: 10px; margin-right: 10px; margin-top: 10px; font-family: 'Times New Roman', Times, serif;"> {{Jobs[1]['content']}} </p>  
</div>