<form [formGroup]="myForm" *ngIf="formshow">
    <div class="dropzone" appDnd>
        <div class = "form-group">
            <input type="file"   
                formControlName="file"
                id="file" 
                type="file" 
                class="form-control"
                (change)="onFileChange($event)"/>
            
            <h3>Drag and drop file here</h3>
            <h3>or</h3>
            <label for="fileDropRef">Browse file for here</label>
        </div>
    </div>
</form>
<div class = "loading" *ngIf="progressbar">
    <mat-spinner ></mat-spinner>
</div>
<div *ngIf="showjobs">
    <table class="table table-striped">
        <thead>
            <tr>
              <th>Company</th>
              <th>Job status</th>
              <th>Job Title</th>
              <th>Description</th>
              <th>Location</th>
              <th>Link</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let dat of Jobs.data">
                <td>{{dat[0]}}</td>
                <td>{{dat[1]}}</td>
                <td>{{dat[2]}}</td>
                <td class="content hideContent">{{dat[3]}}</td>
                <td>{{dat[4]}}</td>
                <td><a href="{{dat[5]}}">link</a></td>
            </tr>
        </tbody>
      </table>
</div>